#form-container {
    /* Centering and maintaining a max width so i dont flashbang people too much */
    max-width: 1000px;
    margin: 0 auto;
}

#confirm { 
    width: 200px;
    font-size: 1.3rem;
    padding: 8px;
    border-color: white;
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}