#form-container {
    /* Centering and maintaining a max width so i dont flashbang people too much */
    max-width: 1000px;
    margin: 0 auto;
}

legend {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--darker-blue);
}

fieldset {
    border: 2px solid var(--darker-blue);
    padding: 20px;
}

fieldset div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    text-align: left;
}

fieldset div label {
    font-weight: bold;
}

input, select, textarea{
    padding: 8px 15px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    color: var(--text);
}

input:focus,
select:focus,
textarea:focus{
    outline: none;
    border: 2px solid var(--purple);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input::placeholder,
textarea::placeholder{
    color: var(--text-light);
}

#confirm { 
    width: 200px;
    font-size: 1.3rem;
    padding: 8px;
    border-color: white;
    background-color: var(--orange);
    cursor: pointer;
}

/* Hide the spinners on number input fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox uses a different engine */
}

/* JS generated elements styling */
.asterisk {
    color: var(--red);
}
