.homeGrid {
    display: grid;
    grid-template-areas:
        "header header header"
        "aboutMe coverImage reviews"
        "aboutMe main reviews"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
}

.gheader {
    grid-area: header;
}

.gcoverImage {
    grid-area: coverImage;
}

.gaboutMe {
    grid-area: aboutMe;
}

.gmain {
    grid-area: main;
}

.greviews {
    grid-area: reviews;
}

.gfooter {
    grid-area: footer;
}


