#breadcrumb, #breadcrumb ol{
    display: flex; /* The breadcrumb is a list of links, so we want them to be displayed in a row and have nice spacing :) */
}

#breadcrumb ol, #product{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

#breadcrumb{
    justify-content: center;
    align-items: center;
}

#breadcrumb ol{
    gap: 10px;
    max-width: 50vw;
    padding: 1rem 2rem;

    background-color: var(--white);
}

#breadcrumb ol li{
    font-weight: bolder;
}

#breadcrumb ol li a{
    color: var(--purple-text);
}

#breadcrumb ol li a::after{
    content: '>';
    margin: 0 0.5rem;
    color: var(--text)
}

#main{
    max-width: 800px;
    margin: 0 auto;
}

#product{
    display: grid;
    grid-template-areas:
    "image label"
    "image title"
    "image description"
    "image details";
    grid-template-columns: 1fr 2fr;

    background-color: var(--white);
    padding: 2rem;
}

#productImage{
    grid-area: image;
    margin: 1rem;
    border-radius: 1rem;
    min-width: 300px;
}

#productTitle{
    grid-area: title;
    font-size: 2rem;
    font-weight: bolder;
}

#productDescription{
    grid-area: description;
    font-size: 1.1rem;
}

#productDetails{
    grid-area: details;
    padding-left: 3rem;
}

.label{
    grid-area: label;
    max-width: 100px;
}


