#pageContent,  #productList,  #productList li, #filters{
    display: flex;
}


 #productList > li > a{
    display: block;
}

 #productList > li, .filters{
    align-items: center;
}

 #productList > li{
    flex-direction: column;
}

.label{
    position: absolute; /* To allow overlaying of the submenu and the label */
}

/*region ProductList*/
 #productList{
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

 #productList > li{
    border-radius: 1.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.8rem;
    transition: 0.1s;
    background-color: var(--white);
}

 #productList > li > a{
    position: relative; /* To allow overlaying of the label */
}

 #productList > li:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

 #productList img{
    border-radius: 1rem;
}

 #productList ul > li:first-of-type{
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0.2rem 0;
}

.label {
    top: 10px;
    left: 10px;
    z-index: 1;
}

#productList .sold-out img{
    filter: grayscale(100%);
}

/*endregion ProductList*/

#filter_container{
    min-width: 400px;
}

#filters label{
    font-size: 1.2rem;
}